.range-input {
  -webkit-appearance: none;
  width: 50%;
  height: 8px;
  background: rgba(221, 221, 221, 1);
  border-radius: 5px;
  outline: none;
  margin-bottom: 10px;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(70, 163, 88, 1);
  cursor: grab;
}

.range-input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(70, 163, 88, 1);
  cursor: pointer;
}

.range-input::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(70, 163, 88, 1);
  cursor: pointer;
}

.text-input {
  padding: 5px 12px;
  border: none;
}
