node_modules/
FileContentIndex*
# Ignore Visual Studio files
.vs/

# Ignore build artifacts
obj/

# Ignore solution-specific and cache files
*.suo
*.cache
*.sqlite
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
