.homepageshop {
  position: relative;
}

.homepageshop__line {
  display: flex;
}

.homepageshop__content {
  max-width: 80%;
  flex: 1 1 80%;
  padding-left: 30px;
}

.homepageshop__toolbox {
  max-width: 20%;
  flex: 1 1 20%;
}

.homepageshop__content-error {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.homepageshop__pagination,
.homepageshop__pagination-pages {
  display: flex;
  align-items: center;
}

.homepageshop__pagination {
  justify-content: flex-end;
  gap: 10px;
  width: 80%;
}

.homepageshop__pagination-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 35px;
  min-height: 35px;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  cursor: pointer;
}

.homepageshop__pagination-arrow {
  max-width: 20px;
  flex: 1 1 20px;
  max-height: 20px;
  cursor: pointer;
}

.homepageshop__pagination-arrow--left {
  transform: rotate(-180deg);
}

@media screen and (max-width: 975px) {
  .homepageshop__content {
    min-height: 200px;
    padding-left: 0;
    max-width: 100%;
    flex: 1 1 100%;
  }
  .homepageshop__pagination {
    width: 100%;
    justify-content: center;
  }

  .homepageshop__pagination-page {
    font-size: 15px;
    min-width: 30px;
    min-height: 30px;
  }
}

@media screen and (max-width: 768px) {
  .homepageshop__pagination-page {
    font-size: 13px;
    min-width: 25px;
    min-height: 25px;
  }
}
