.homepageshop {
  position: relative;
}

.homepageshop__line {
  display: flex;
}

.homepageshop__content {
  max-width: 80%;
  flex: 1 1 80%;
  padding-left: 30px;
}

.homepageshop__toolbox {
  max-width: 20%;
  flex: 1 1 20%;
}

.homepageshop__content-error {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

@media screen and (max-width: 975px) {
  .homepageshop__content {
    min-height: 200px;
    padding-left: 0;
    max-width: 100%;
    flex: 1 1 100%;
  }
}
