.homepageshop__bar {
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 50px;
}

.homepageshop__bar::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 2px;
  background-color: rgba(70, 163, 88, 1);
  bottom: 0;
  right: 50%;
}

.homepageshop__bar-items {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.homepageshop__bar-item,
.homepageshop__sort-btn {
  cursor: pointer;
}

.homepageshop__bar-icon {
  max-width: 20px;
  max-height: 20px;
  opacity: 0.8;
}

.homepageshop__sort-btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.homepageshop__sort-arrow {
  display: block;
  max-width: 20px;
  max-height: 20px;
}

.homepageshop__dropdown {
  position: absolute;
  right: 0;
  bottom: -60%;
  transform: translateY(60%);
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
  padding: 5px;
  z-index: 10;
}

.homepageshop__dropdown-item {
  padding: 5px 10px;
  border-radius: 20px;
}

.homepageshop__dropdown-item:hover {
  background-color: rgba(70, 163, 88, 1);
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
}

.homepageshop__articles-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 85%;
  padding: 30px 0;
  margin: 0 -20px;
}

.homepageshop__article-item {
  position: relative;
  z-index: 1;
  margin: 0 20px 50px 20px;
  max-width: calc(33.33% - 40px);
  flex: 1 1 calc(33.33% - 40px);
  cursor: pointer;
}

.homepageshop__article-item {
  transition: 0.5s all ease-in-out;
}

.homepageshop__article-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.homepageshop__article-usertools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  min-height: 20px;
  margin-bottom: 5px;
}

.homepageshop__article-cart,
.homepageshop__article-heart {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  max-width: 20px;
  max-height: 20px;
  z-index: 25;
}

.homepageshop__article-item:hover .homepageshop__article-cart,
.homepageshop__article-item:hover .homepageshop__article-heart {
  visibility: visible;
  opacity: 1;
}

.homepageshop__article-cart:hover,
.homepageshop__article-heart:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.homepageshop__article-sale {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: rgba(70, 163, 88, 1);
  color: rgba(255, 255, 255, 1);
  padding: 5px 18px 5px 5px;
  z-index: 10;
}

.homepageshop__price-information {
  display: flex;
  align-items: center;
}

.homepageshop__article-name,
.homepageshop__article-price,
.homepageshop__article-newprice {
  display: block;
}

.homepageshop__article-name {
  margin-bottom: 8px;
}

.homepageshop__article-price,
.homepageshop__article-newprice {
  color: rgba(70, 163, 88, 1);
  font-weight: 600;
  margin-right: 10px;
}

.homepageshop__article-price--oldprice {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  text-decoration: line-through;
}

.active {
  color: rgba(70, 163, 88, 1);
}

@media screen and (max-width: 975px) {
  .homepageshop__bar {
    min-height: 10px;
    min-height: 30px;
  }

  .homepageshop__bar::after {
    display: none;
  }

  .homepageshop__bar-item {
    font-size: 14px;
  }

  .homepageshop__dropdown {
    bottom: -150%;
  }

  .homepageshop__articles-list {
    max-width: 100%;
  }

  .homepageshop__article-usertools {
    position: absolute;
    top: 10px;
    right: 5px;
  }

  .homepageshop__article-heart {
    visibility: visible;
    opacity: 1;
    max-width: 15px;
    max-height: 15px;
  }

  .homepageshop__article-cart {
    display: none;
  }

  .homepageshop__article-name {
    font-size: 15px;
    margin-bottom: 4px;
  }

  .homepageshop__price-information {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .homepageshop__bar {
    min-height: 10px;
  }

  .homepageshop__bar-item {
    font-size: 12px;
  }

  .homepageshop__bar-icon {
    max-width: 15px;
    max-height: 15px;
  }

  .homepageshop__sort-btn,
  .homepageshop__dropdown {
    display: none;
  }

  .homepageshop__articles-list {
    margin: 0 -10px;
    padding-top: 12px;
  }

  .homepageshop__article-item {
    margin: 0 10px 20px 10px;
    max-width: calc(50% - 20px);
    flex: 1 1 calc(50% - 20px);
  }

  .homepageshop__article-sale {
    font-size: 10px;
  }

  .homepageshop__article-name {
    font-size: 13px;
    margin-bottom: 4px;
  }

  .homepageshop__price-information {
    font-size: 12px;
  }

  .homepageshop__article-price,
  .homepageshop__article-newprice {
    margin-right: 5px;
  }
}
