.header {
  position: relative;
}

.header__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 13px 0;
  border-bottom: 1px solid rgba(70, 163, 88, 0.3);
}

.header__logo-link {
  max-width: 200px;
  max-height: 150px;
  flex: 1 1 200px;
}

.header__logo {
  max-width: 215px;
  max-height: 215px;
}

.header__logo-holder,
.header__navigation-list,
.header__usertoolbar-list {
  max-width: 33.33%;
  flex: 1 1 33.33%;
}

.header__navigation-list,
.header__usertoolbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.header__usertoolbar-image {
  max-width: 40px;
  max-height: 40px;
}

.header__login-image {
  max-width: 30px;
  flex: 1 1 30px;
  max-height: 30px;
}

.header__usertoolbar-account {
  max-width: 30px;
  max-height: 30px;
  flex: 1 1 30px;
  cursor: pointer;
}

.header__usertoolbar-account-image {
  max-width: 100%;
  max-height: 100%;
}

.header__navigation-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  padding-bottom: 18px;
  cursor: pointer;
}

.header__navigation-link--activated {
  border-bottom: 3px solid rgba(70, 163, 88, 1);
  color: rgba(0, 0, 0, 1);
}

.header__usertoolbar-search-bar {
  border-radius: 10px;
  width: 100%;
  font-size: 13px;
  padding: 8px 20px 8px 7px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transform: translateY(20px);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.header__usertoolbar-item.visible .header__usertoolbar-search-bar {
  transform: translateY(0);
  opacity: 1;
}

.header__usertoolbar-button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__usertoolbar-button:hover {
  cursor: pointer;
}

.header__responsive-decoration {
  display: none;
}

.header__responsive-button {
  display: none;
}

.header__responsive-button-image {
  max-width: 20px;
  max-height: 20px;
}

@media screen and (max-width: 768px) {
  .header__line {
    border-bottom: none;
    padding: 20px 0 0px 0;
  }

  .header__navigation-list,
  .header__logo-holder,
  .header__usertoolbar-button {
    display: none;
  }

  .header__usertoolbar-list {
    display: block;
    position: relative;
    max-width: 100%;
    flex: 1 1 100%;
  }

  .header__usertoolbar-button--responsive {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .header__usertoolbar-image {
    max-width: 15px;
    max-height: 15px;
  }

  .header__usertoolbar-account-image {
    display: none;
  }

  .header__usertoolbar-search-bar {
    display: block;
    opacity: 1;
    border: none;
    font-size: 12px;
    transform: translateY(0);
    padding-left: 30px;
    max-width: 50%;
  }

  .header__usertoolbar-search-bar:focus {
    outline: none;
  }

  .header__responsive-decoration {
    display: block;
    position: absolute;
    top: 8px;
    right: 0;
    max-width: 70px;
    transform: rotate(90deg);
    text-align: center;
    background-color: rgba(70, 163, 88, 1);
    color: rgba(255, 255, 255, 1);
    line-height: 16px;
    z-index: 10;
    border-radius: 0 10px 10px 0;
    font-size: 12px;
    transition: top 0.3s ease;
    padding: 5px 0;
  }

  .header__responsive-decoration:hover {
    top: 14px;
    cursor: pointer;
  }

  .header__responsive-button {
    display: block;
    transform: rotate(-180deg);
  }
}
